<div class="col-md-3 col-sm-6 col-xs-12 text-center">
	<div class="chart" data-percent="{{content.field_percentage.0}}">
		<span><strong>{{content.field_title.0}}</strong>
			{{content.field_percentage.0}}%</span></div>
</div>