
	<div id="fh5co-work" class="fh5co-bg-dark">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>{{content.field_title.0}}</h2>
				</div>
			</div>
			<div class="row">
				{{content.field_work}}
			</div>
		</div>
	</div>
