<div class="col-md-4 text-center">
	<div class="feature-left">
		<span class="icon">
			{{content.field_icon.0}}
		</span>
		<div class="feature-copy">
			<h3>{{content.field_title.0}}</h3>
			<p>{{content.field_description.0}}</p>
		</div>
	</div>
</div>