<li class="animate-box">
		<div class="timeline-badge">
			{{content.field_icon.0}}
		</div>
		<div class="timeline-panel">
			<div class="timeline-heading">
				<h3 class="timeline-title">{{content.field_title.0}}</h3>
				<span class="company">{{content.field_branch.0}}</span>
			</div>
			<div class="timeline-body">
				<p>{{content.field_description.0}}</p>
			</div>
		</div>
	</li>