<div id="fh5co-skills" class="animate-box">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
				<h2>{{content.field_title.0}}</h2>
			</div>
		</div>
		<div class="row row-pb-md">
			{{content.field_chart}}
		</div>
		<div class="row">
			{{content.field_progress}}
		</div>
	</div>
</div>
