<!-- Start top banner -->
<div class="top-banner" style="background-image: url('{{content.field_background_image.0}}');">
    <div class="container top-banner-caption text-center">
      <h1>{{content.field_banner_title.0}}</h1>
    </div>
</div>
<!-- End top banner -->