<div class="item">
  <div class="col-md-12 col-sm-12 about-team">
      <div class="testmonial-img wow fadeInLeft">
        {{fields.field_image.content}}
      </div>
      <div class="testimonial-caption wow fadeInRight">
        <p>{{fields.field_client_say.content}}</p>
        <p><strong>-{{fields.title.content}}</strong></p>
      </div>
  </div>  
</div>